<%= link_to post_path(post.id), class: "post-container" do %>
  <% if post.image? %>
    <% if post.image.file.content_type.include?('image/') %>
      <div class="post-container__post-image" style="background-image: url(<%= post.image %>);"></div>
    <% else %>
      <%= video_tag post.image.url, class: "post-container__post-video", width: "30%", height: "30%" %>
    <% end %>
  <% end %>
  <div class="post-container__groups">
    <div class="post-container__groups__bg"></div>
    <div class="post-container__groups__title-content">
      <div class="post-container__groups__title-content__post-title"><%= post.title %></div>
      <div class="post-container__groups__title-content__post-content"><%= post.content %></div>
    </div>
  </div>
<% end %>

<script>
ScrollReveal().reveal('.post-container');
</script>
